@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="clicked">Click me</button>
<p>@message</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private string message ="";
    private void clicked()
    {
        this.message = "Welcome to the world of Blzaor with WASM";
    }
}
